<!-- Карусель -->
<div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px">
    <div class="row align-items-center justify-content-center">
        <div id="carouselExampleControls" class="carousel slide col-6 " data-ride="carousel">
            <div class="carousel-inner">
                <?php $count = 0;
                 foreach($data['popular_posts'] as $post) { echo "$count";?>

                <div <?php if($count == '0') {echo 'class="carousel-item active" ';}else{ echo 'class="carousel-item " ';} ?>>

                    <div class="col-sm " style="background-color: #dddddd;">
                        <a href="/posts/view/<?= $post['id'] ?>"><h1><?= $post['title'] ?></h1></a>
                        <div style="font-size: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <?= $post['text'] ?>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-4">
                                <p>Автор:
                                    <small><?= $post['author'] ?></small>
                                </p>
                            </div>
                            <div class="col-4">
                                <p>Комментариев:
                                    <small><?= $post['comments_count'] ?></small>
                                </p>
                            </div>
                            <div class="col-4">
                                <p>Дата:
                                    <small><?= $post['date'] ?></small>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <?php $count++;}  ?>


            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


<hr/>
<!-- Конец карусели -->

<!-- Контент -->
<?php foreach($data['posts'] as $post) {?>
<div class="container-fluid">
    <div class="row " style="padding-top: 20px; ">

        <div class="col-7" style="background-color: #dddddd; margin-left: 70px; margin-right: 10px; ">
            <a href="/posts/view/<?= $post['id'] ?>"><h1><?= $post['title'] ?></h1></a>
            <div style="font-size: 20px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <?= $post['text'] ?>
            </div>

            <hr/>
            <div class="row">
                <div class="col-4">
                    <p>Автор:
                        <small><?= $post['author'] ?></small>
                    </p>
                </div>
                <div class="col-4">
                    <p>Комментариев:
                        <small><?= $post['comments_count'] ?></small>
                    </p>
                </div>
                <div class="col-4">
                    <p>Дата:
                        <small><?= $post['date'] ?></small>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<?php } ?>
<!-- Конец контенда -->



<!-- Форма -->
<hr/>
<div class="container-fluid" style=" background-color: #dddddd; ">
    <div class="row ">
        <div class="col-md-12 ">
            <div class="well well-sm">
                <form action="/posts/add" method="post">
                <div class="row text-white " style="padding-top: 5%; padding-right: 15%; padding-left: 15%">
                    <div class="col-md-6 form-group" >
                        <label for="title">Название</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Введите название статьи">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="author">Автор</label>
                        <input type="text" class="form-control" id="author" name="author" placeholder="Как вас зовут?">
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="text">Статья</label>
                        <textarea class="form-control" cols="30" rows="10" id="text" name="text"> </textarea>
                    </div>
                </div>
                <div class="text-center form-group" >
                    <button type="submit" class="btn btn-danger btn-lg">Отправить пост</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Контент Формы -->