<!-- Контент -->

<div class="container">
    <div class="row" style="background-color: #eeeeee">
        <div class="col" style="padding-top: 50px">
            <h1><?= $data['post']['title'] ?></h1>
            <p><?= $data['post']['text'] ?></p>
            <hr/>
            <div class="row">
                <div class="col-4">
                    <p>Автор:
                        <small><?= $data['post']['author'] ?></small>
                    </p>
                </div>
                <div class="col-4">
                    <p>Комментариев:
                        <small><?= $data['post']['comments_count'] ?></small>
                    </p>
                </div>
                <div class="col-4">
                    <p>Дата:
                        <small><?= $data['post']['date'] ?></small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Конец контенда -->

<!-- Комментарии -->
<?php foreach($data['comments'] as $comment) {?>
<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col-6" style="padding-top: 20px; background-color: #dddddd">
            <p><?= $comment['text'] ?></p>
            <hr/>
            <div class="row">
                <div class="col-6">
                    <p>Автор:
                        <small><?= $comment['author'] ?></small>
                    </p>
                </div>

                <div class="col-6">
                    <p>Дата:
                        <small><?= $comment['date'] ?></small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<?php } ?>
<!-- Конец Комментариев -->

<!-- Форма -->
<hr/>
<div class="container-fluid" style=" background-color: #dddddd">
    <div class="row ">
        <div class="col-md-12 ">
            <div class="well well-sm">
                <form action="/comments/add" method="post">
                    <div class="row text-white " style="padding-top: 5%; padding-right: 15%; padding-left: 15%">
                        <input type="hidden" name="post_id" value="<?=$data['post']['id']?>">
                        <div class="col-md-6 form-group">
                            <label for="author">Имя</label>
                            <input type="text" class="form-control" id="author" name="author"
                                   placeholder="Как вас зовут?">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="text">Комментарий</label>
                            <textarea class="form-control" cols="30" rows="10" id="text" name="text"> </textarea>
                        </div>
                    </div>
                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-danger btn-lg">Комментировать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Контент Формы -->